@{

    string selectedMenu = "";
    string selectedParentMenu = "";
    if (ViewData[ShopOnline.Common.Constants.MENU] != null)
    {
        selectedMenu = Convert.ToString(ViewData[ShopOnline.Common.Constants.MENU]);
    }
    if (ViewData[ShopOnline.Common.Constants.MENU_PARENT] != null)
    {
        selectedParentMenu = Convert.ToString(ViewData[ShopOnline.Common.Constants.MENU_PARENT]);
    }
}


<div class="sidebar" id="sidebar">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>


    <ul class="nav nav-list">


        @{
            string dashboardMenuCss = "";
            if (selectedMenu == ShopOnline.Common.Constants.MENU_DASHBOARD)
            {
                dashboardMenuCss = "active";
            }
        }


        <li class="@dashboardMenuCss">
            <a href="~/Home/DashBoard">
                <i class="icon-dashboard"></i>
                <span class="menu-text"> Dashboard </span>
            </a>
        </li>

        @{
            string userParentMenuCss = "";
            if (selectedParentMenu == ShopOnline.Common.Constants.MENU_MANAGE_USER_PARENT)
            {
                userParentMenuCss = "active open";
            }
        }

        <li class="@userParentMenuCss">
            <a href="#" class="dropdown-toggle">
                <i class="icon-edit"></i>
                <span class="menu-text">Manage Users</span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">

                @if (selectedMenu == ShopOnline.Common.Constants.MENU_ADD_USER)
                {
                    <li class="active">
                        <a href="~/ManageUsers/GetUser">
                            <i class="icon-double-angle-right"></i>
                            Create New User
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="~/ManageUsers/GetUser">
                            <i class="icon-double-angle-right"></i>
                            Create New User
                        </a>
                    </li>
                }

                @if (selectedMenu == ShopOnline.Common.Constants.MENU_MANAGE_USER)
                {
                    <li class="active">
                        <a href="~/ManageUsers/Manage">
                            <i class="icon-double-angle-right"></i>
                            Manage Users
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="~/ManageUsers/Manage">
                            <i class="icon-double-angle-right"></i>
                            Manage Users
                        </a>
                    </li>
                }

            </ul>
        </li>




    </ul><!-- /.nav-list -->

    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>

    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>