<div class="widget-box" style="display:none;z-index:99999;position:fixed;width:300px;" id="divProcessingPopup">
    <div class="widget-header" style="height:30px">
        <h4>Please waite</h4>
    </div>
    <div style="padding-top:10px;padding:10px;border:solid 1px #CCCCCC;background:#FFF">
        <div>Please waite while system in progress . . .</div>
        <div style="padding-top:20px"><img src="~/Content/AdminContents/img/ajax-loader.gif" border="0" alt="" /></div>
    </div>
</div>
