@*@{
    ViewBag.Title = "EditNews";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@{
    ShopOnline.Models.Shop_New ShopNews = null;
    if (ViewData.Model != null)
    {
        ShopNews = (ShopOnline.Models.Shop_New)ViewData.Model;
    }
}

<script src="~/Scripts/SiteJs/ShopNews.js"></script>
<script src="~/Content/AdminContents/js/ckeditor/ckeditor.js"></script>

<div class="page-header">
    <div class="pageTitle">Edit Shop News</div>
</div>




<div class="row">
    <div class="col-xs-12">
        @Html.Partial("OperationMessage")

        <div style="padding:20px">
            <form id="frmCat" name="frmCat" action="~/ShopNews/AddNews" method="post">


                <div class="linebr">&nbsp;</div>
                <div class="form-group">
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">News HeadLine<span style="color:Red;margin-left:3px">*</span></div>

                    <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
                        <input type="text" placeholder="News HeadLine" class="form-control" id="txtNewsHeadLine" name="txtNewsHeadLine" value="@ShopNews.News_HeadLine" maxlength="250" />
                    </div>
                </div>
                <div class="linebr">&nbsp;</div>
                <div class="form-group">
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">News Detail<span style="color:Red;margin-left:3px">*</span></div>
                    <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
                        <textarea rows="8" class="ckeditor" placeholder="News Detail" id="txtNewsDetail" name="txtNewsDetail" maxlength="450" required="required">@Html.Raw(ShopNews.News_Detail)</textarea>
                    </div>
                </div>
                <div class="linebr">&nbsp;</div>


                @{

                    string News_ID = new ShopOnline.Common.SecurityManager().EncodeString(ShopNews.NewsId.ToString());
                    <input type="hidden" id="hidNewsId" name="hidNewsId" value="@News_ID" />
                }
                <div class="linebr">&nbsp;</div>

                <div class="form-group">
                    <label class="col-xs-2 col-sm-2 col-md-2 control-label no-padding-right blackLabel" for="form-field-1">&nbsp;</label>
                    <div class="col-xs-10 col-sm-10 col-md-10">
                        <button class="btn btn-primary btn-sm" type="submit" id="btnSubmitItem" style="margin-right:5px">
                            <i class="icon-ok bigger-110"></i>
                            Save
                        </button>
                        <button class="btn btn-info btn-sm" type="button" id="btnCancelEditNews">
                            <i class="icon-reply align-top bigger-125"></i>
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>*@
