@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<!-- Page Heading -->

<div class="page-header">
    <div class="pageTitle">Change Password</div>
</div>
<!-- Page Heading / End -->

@*<link rel="stylesheet" href="http://cdn.jsdelivr.net/bootstrap/3.3.2/css/bootstrap.min.css">*@
<script src="http://formValidation.io/vendor/formvalidation/js/formValidation.min.js"></script>
<script src="http://formValidation.io/vendor/formvalidation/js/framework/bootstrap.min.js"></script>

<section class="page-content">
    <div class="container">

        <div class="row">

            @Html.Partial("OperationMessage")
            <form action="~/Settings/ChangePassword" id="contact-form" method="post">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Current Password <span class="required">*</span></label>
                        <input type="password" value="@ViewData["pwdCurrentPassword"]" required="required" class="form-control" name="pwdCurrentPassword" id="pwdCurrentPassword" maxlength="30">
                    </div>
                    <div class="form-group">
                        <label>New Password <span class="required">*</span></label>
                        <input type="password" value="@ViewData["pwdNewPassword"]" required="required" class="form-control" name="pwdNewPassword" id="pwdNewPassword" maxlength="30">
                    </div>
                    <div class="form-group">
                        <label>Confirm New Password <span class="required">*</span></label>
                        <input type="password" value="@ViewData["pwdConfirmPassword"]" required="required" class="form-control" name="pwdConfirmPassword" id="pwdConfirmPassword" maxlength="30">
                    </div>
                    <div>
                        <input type="submit" value="Change Password" class="btn btn-success" data-loading-text="Loading...">
                    </div>
                </div>

            </form>

        </div>


    </div>
</section>


<script>
    $(document).ready(function () {
        $('#contact-form').formValidation({
            framework: 'bootstrap',
            //icon: {
            //    valid: 'glyphicon glyphicon-ok',
            //    invalid: 'glyphicon glyphicon-remove',
            //    validating: 'glyphicon glyphicon-refresh'
            //},
            fields: {

                pwdCurrentPassword: {
                    validators: {
                        notEmpty: {
                            message: 'The current password is required'
                        }
                    }
                },
                pwdNewPassword: {
                    validators: {
                        notEmpty: {
                            message: 'The new password is required'
                        }
                    }
                },
                pwdConfirmPassword: {
                    validators: {
                        identical: {
                            field: 'pwdNewPassword',
                            message: 'The password and its confirm are not the same'
                        }
                    }
                }
            }
        });
    });

</script>